body,ul,li,p{
    margin:0;
    padding:0;
}
.title{
    text-align: center;
    font:1.8rem 微软雅黑;
    color: #434343;
    font-weight:0.8rem;
    margin:0 auto;
    padding-top:15px;
    padding-bottom: 16px;
}
.title hr{
    display:inline;
    color:#434343;
    width:15px;
    z-index:2;
}
.title hr:first-child{
    margin-right:18px;
}
.title hr:last-child{
    margin-left:18px;
}

.maincontent{
    margin:0 auto;
    width:1000px;
    height:570px;
}
.box{
    overflow: hidden;
    position: relative;
    margin-bottom:12px;
    padding-right:5px;
    border-radius: 13px;
}
.box:before{
    content: "";
    display: block;
    border: 30px solid rgba(255, 255, 255, 0.3);
    border-radius: 13px;
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    opacity: 0.9;
    z-index: 2;
    transition: all 1s ease;
}
.box:hover:before{ border: 1px solid rgba(255, 255, 255, 0.18); }
.box:after{
    content: "";
    display: block;
    border: 10px solid #fff;
    position: absolute;
    top: 35px;
    left: 35px;
    bottom: 35px;
    right: 35px;
    opacity: 0.9;
    z-index: 1;
    transition: all 0.3s ease;
}
.box:hover:after{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
}
.box img{
    width: 100%;
    height: auto;
    transform: scale(1.1);
    transition: all 1s ease 0s;
}
.box:hover img{ transform: scale(1);}

.box .box-content{
    padding: 20px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 45px;
    left: 45px;
    bottom: 45px;
    right: 45px;
    opacity: 1;
    z-index: 2;
    transition: all 0.3s ease;
}
.box:hover .box-content{
    top: 6px;
    left: 6px;
    bottom: 6px;
    right: 6px;
}
.box .box-inner-content{
    width: 100%;
    padding-bottom: 20px;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease;
}
.box:hover .box-inner-content{ opacity: 1; }
.box .title{
    font-size: 26px;
    font-weight: bold;
    margin-bottom:5px;
}
.box .post{
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}
.box .icon{
    padding: 0;
    margin: 0;
    list-style: none;
}
.box .icon li{ display: inline-block; }
.box .icon li a{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: #fff;
    margin-right: 10px;
    font-size: 18px;
    color: #000;
    transition: all 0.3s ease;
}
.box .icon li a:hover{
    background: #000;
    color: #fff;
}
