body,ul,li,p{
    margin:0;
    padding:0;
}
.title{
    text-align: center;
    font:1.4em 微软雅黑;
    color: #434343;
    font-weight:0.8rem;
    margin:0 auto;
    padding-top:15px;
}
.title hr{
    display:inline;
    color:#434343;
    width:15px;
}
.title hr:first-child{
    margin-right:18px;
}
.title hr:last-child{
    margin-left:18px;
}

.shimmer{
    margin:0 auto;
    width:1000px;
    height:350px;
    background-image: linear-gradient(to bottom, #F1F1F1 0%, #FEFEFE 100%);
}
.playlist .wrapper{
    list-style:none;
    display:flex;
    justify-content:center;
    flex-wrap: wrap;  /*让弹性盒元素在必要的时候拆行*/
}
.playlist .wrapper li{
    overflow: hidden;
    position: relative;
    color:#434343;
    font:0.8em 微软雅黑;
    margin-top:27px;
    margin-right: 15px;
    border-radius: 15px;
    background: #fff;
    transition: transform 0.4s ease; /*过渡+转换*/
}
.playlist .wrapper li:first-child{
    margin-left:5px;
}
.playlist .wrapper li:hover{
    overflow: hidden;
    transform: translateY(-3%);
    cursor: pointer;
    box-shadow: 2px 5px 10px 3px #CCC; /*加阴影-->3D效果*/
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.playlist .wrapper li:hover>.text_container{
    transform: translateY(-10px); /*指定对象Y轴（垂直方向）的平移*/
}

.playlist .wrapper .text-container{
    text-align: center;
    margin-top:7px;
    background: #fff;
    transition: all 0.3s ease-in-out;
}
.playlist .wrapper .text-container p{
    margin-bottom: 6px;
}
.playlist .wrapper .text-container p:last-child{
    margin-bottom: 10px;
}